@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
}

section {
    margin: 0;
    padding: 0;
    border: none;
}

.disable {
    opacity: 0;
}

.unload {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

.load {
    opacity: 1;
    filter: blur(0px);
}

body {
    overflow-x: hidden;
    height: auto;
}

.head {
    width: 100%;

}

.bg-image {
    /* background-image: url('./Images/bg-image-3.jpg');
    background-color: black; */
    height: auto;
    width: 100vw;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
    /* -webkit-backdrop-filter: blur(8px); */
}

.wesite-content {
    background-color: black;
    color: white;
    position: absolute;
    top: 2vw;
    bottom: 2vw;
    left: 2vw;
    right: 2vw;
    z-index: 100;
}

section {
    background-color: black;
    color: white;
}

nav {
    margin: 20px 20px 10px;
    background-color: black;
    display: flex;
}

nav>.navitems {

    display: flex;
    padding-top: 8px;
    margin-right: 3vw;
}

nav>.navitems>p>a {
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    margin-left: 3vw;
    color: pink;
}

nav>.navitems>p:hover {
    transform: scale(1.1)
        /* transform: translateY(-5px); */
}

.navline>hr {
    margin: auto 15px 15px;
}

nav>.navName {
    display: flex;
    column-gap: 10px;
    font-size: 25px;
    font-weight: 900;
}

/* nav > .navName:hover{
    transform: scale(1.3);
} */
nav>.navName>p {
    color: aqua;
    transform: scale(1.7, 1.7);
}

.complete {
    display: flex;
    flex-direction: column;
}

/* Additional Section Styles */

#additional {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 5vh auto;
}

#additional .main {
    display: flex;
    padding: 0vh 3vh;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#additional .section-left {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 45vw;
}

.section-left {
    font-size: 6vh;
    padding: 0vh 4vh;
    font-family: 'Poppins', sans-serif;
}

.together {
    margin-top: auto;
}

.resume {
    margin-left: 2vw;
}

.resume>button {
    margin: 0;
}

.resume>button>a {
    background-color: rgb(205, 81, 102);
    color: black
}

#colored-part {
    display: inline;
    color: purple;
}

#element {
    color: rgb(205, 81, 102);

}

#additional .section-right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: flex-end;
}

#additional h2 {
    text-align: center;
    color: #333;
}

#additional p {
    text-align: justify;
    color: #777;
}

#connect {
    background-color: black;
}


.social-icons>a:hover {
    transform: translateY(-3px);
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 10vh;
    height: 10vh;
}


/* for project */
#projects-id {
    padding: 5vh 5vh;
}
.project-card {
    min-width: 100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    position: relative;
    margin: 2vh auto;
}


.project-name {
    text-decoration: none;
    font-size: 10vh;
    z-index: 2;
    align-self: center;
    position: absolute;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.project-name > a{
    text-decoration: none;
    color: purple;
}
.project-name-line{
    width: 100px;
    height: 5px;
    background-color: purple;
    border: none;
    position: absolute;
    bottom: 0;
    animation: underline infinite 2s alternate ease-out ;
}

@keyframes underline {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

.project-img {
    filter: blur(15px);
    z-index: 1;
    width: 80vw;
    height: 40vw;
}


/* for button */
button {
    border: none;
    margin: 2vh 2px;
    background-color: black;
}

button a {
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button a:hover {
    color: black;
    background-color: white;
}




/* for skills */


#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5vh 5vh;
}

.skill :hover {
    transform: translateY(-10px);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 2vh 1vh 2vh;
}

.skill img {
    width: 60px;
    height: 60px;
    margin: auto 3vh;
    margin-bottom: 10px;
    border-radius: 20%;
}

.skill h3 {
    font-size: 16px;
    text-align: center;
}

/* for button */



/* CSS for about me */
#about-me {
    padding: 20px;
    padding: 5vh;
}

#about-me h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bio {
    display: flex;
    align-items: center;

}

.bio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.bio p {
    font-size: 16px;
    line-height: 1.5;
}

.content {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:950px) {
    #additional .main{
        padding: 10px;
    }
    .project-name {
        font-size: 7vw;
    }
    .section-left {
        font-size: 5vw;
        padding: 0vh;
        margin: 0;
    }
}

/* for footer */
.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer p {
    margin: 2vw;
}

.footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}